<!--<h1>{{ categories | json }}</h1>-->
<div class="container ">
     <h2 class="center">All Categories</h2>
     <div class="row">
        <div class="col-sm-3 " *ngFor="let category of categories">
          <div class="card">
           <img src="{{category.categoryImage}}" alt="" class="card-img-top" width="200px" height="200px">
           <!-- <img src="https://via.placeholder.com/400/888888" alt="" class="card-img-top ">-->
            <div class="card-body">
              <h5 class="card-title">{{category.categoryName}}</h5>
              
              <button (click)="onButtonClick(category.categoryId)" class="btn btn-primary">Select</button>
            </div>
          </div>
        </div>
    </div>      
</div>