<app-navbar>
</app-navbar>
<div class="jumbotron text-center ">
    <h1 class="display-4 ">About us</h1>
    <p class="lead ">this is simple details about this page</p>
</div>
<div class="container">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ratione et numquam? Iure consequuntur magni eum doloremque, sit error nostrum quod quas nemo, incidunt unde itaque esse modi dicta nam!
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat repellendus animi repudiandae esse cumque nostrum, earum ab eaque perspiciatis suscipit asperiores maiores voluptas ex dolorem nihil reiciendis deserunt. Alias rem, vel maiores cum voluptas quos mollitia aperiam illo saepe quibusdam iusto adipisci voluptate doloremque ducimus odit, expedita veritatis aspernatur maxime?
    </p>
</div>
